<% layout('/layouts/boilerplate') %>


  <div class="container lead">
    <div class="row">
      <div class="col-lg-10 mx-auto my-5">
        <div class="bg-white shadow rounded-4 mx-auto mb-4 mb-sm-0 p-3 p-sm-5 rounded-lg text-justify">

          <div class="d-flex  media media-hover  font-droid align-items-center ">
            <a class="text-decoration-none text-black" href="/blogs/post=<%= blog.slug %>">
              <h3 class="h3 h-sm-5 mt-0 mb-5 fw-bold text-break">
                <%= blog.title %>
              </h3>

              <p class="d-none d-sm-block  text-break fs-4">
                <%= blog.body %>
              </p>

            </a>
          </div>
          <div class="d-flex flex-column flex-sm-row mt-2 border-bottom">
            <div class="d-flex mb-3 mb-sm-4">
              <div wire:id="3MjpEkmwxxzKopGXlLka"> <span class="ms-2 mb-0 fw-bold">
                  <%= blog.likes.length %>
                </span> 
                <form action="/blogs/<%=blog.slug %>/like" method="post" class="d-inline ms-3">
                  <button type="submit" class="btn f p-0 font-14px   ms-sm-auto mt-4 my-sm-2 text-secondary bg-white">
                    <i aria-hidden="true" class="fa fa-heart fs-5"></i></button>
                    <a href="#"
                class="text-secondary px-2 ms-2">
                <i aria-hidden="true" class="fa fa-facebook fs-5 mt-5"></i></a> 
                <a href="#"
                class="text-secondary px-2"><i aria-hidden="true" class="fa fa-twitter fs-5"></i></a>
                </form>
                </div> 
                
            </div>
            <div class="d-flex ms-sm-auto text-center fw-bold mb-4 fs-5">
              <p class="me-2 mb-0">
               published in: 
              </p>
              <p class="mb-0 text-secondary">
                <time>
                  <%= moment(blog.createdAt).format('DD/MM/YYYY'); %>
                </time>
              </p>
            </div>
          </div>
          <div class="d-flex flex-column flex-sm-row align-items-center mt-4 justify-content-between"><a
              href="/username=<%= blog.username  %> " class="text-black text-hover-black text-decoration-none">
              <div class="d-flex align-items-center"><span class="me-3 text-secondary fw-bold">
                  written by: 
                </span> <img width="40" src="<%= profileUser.image %>"
                  alt="Nouf Khalid" class="rounded-circle">
                <div class="ms-3">
                  <p class="mb-0 fw-bold">
                    <% if(blog.username) %>
                      <%= blog.username %>
                  </p>

                  <p class="mb-0 text-secondary"> <%= profileUser.bio %> 
                  </p>
                </div>
              </div>
            </a>
            <% if(currentUser && currentUser.id==blog.user){ %>
              <a href="/blogs/<%=blog.slug %>/edit"
                class="btn f px-4 font-14px px-4  ms-sm-auto mt-4 my-sm-2 btn-primary text-primary bg-white"><span
                  class="fw-bold"><i aria-hidden="true" class="fa fa-plus"></i>
                  Edit
                </span></a>

              <% }else{ %>
                <form action="/blogs/<%=blog.username %>/follow" method="post">
                  <button type="submit" class="btn f px-4 font-14px px-4  ms-sm-auto mt-4 my-sm-2 btn-primary text-primary bg-white">
                    <span class="fw-bold">
                      <i aria-hidden="true" class="fa fa-plus"></i>
                    
                     <% if(currentUser && currentUser.following.includes(profileUser._id)) { %> 
                      unfollow the author 
                      <% }else { %> 
                        follow the author 
                  <% } %>  
                    </span></button>
                </form>
                <% } %>

          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- <form action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
    <button class="delete">Delete</button>
  </form> -->