<% layout('/layouts/boilerplate') %>


    <nav class="navbar padding navbar-expand-lg fw-bolder lead">
        <div class="container-fluid">

            <a href="/homePage" class="navbar-brand fw-bold mx-3 ">Oktub</a>

            <div class="d-flex align-items-baseline">

                <div id="profile-links-btn2" class="position-relative   d-block d-md-none ">
                    <% if(currentUser){ %>
                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"
                            class="outline-none dropdown-toggle dropdown-toggle-split text-decoration-none"><img
                                width="50" src="<%= currentUser.image %> " alt="sham sham"
                                class="rounded-circle outline-none"></a>

                        <div id="profile-links2" class="dropdown-menu position-absolute m-1 start-0 end-0"><a
                                href="/username=<%= currentUser.username  %> "
                                class="dropdown-item px-3 p-0 py-1 fw-bold ">My Blogs </a> <a href="/likes"
                                class="dropdown-item px-3 p-0 py-1 fw-bold ">Favorites</a> <a href="/settings"
                                class="dropdown-item px-3 p-0 py-1 fw-bold ">Settings</a>
                            <a href="/statistics" class="dropdown-item px-3 p-0 py-1 fw-bold ">Statistics</a>
                            <a href="/logout" class="dropdown-item px-3 p-0 py-1 fw-bold">
                                Logout
                            </a>
                            <div class="border-bottom flex-1 my-2"></div> <a t arget="_blank" href="/"
                                class="nav-link fw-bold px-3 p-0 py-1 text-secondary">
                                About Oktub
                            </a> <a target="" href="" class="nav-link  fw-bold px-3 p-0 py-1 text-secondary">
                                Writing Conditions
                            </a> <a target="" href="" class="nav-link fw-bold px-3 p-0 py-1 text-secondary">
                                privacy policy
                            </a>
                        </div>
                        <% } %>
                </div><a href="/create" class="btn btn-primary text-white  m-sm-0 px-4 d-block d-md-none  fw-bold">
                    new blog
                </a>
            </div>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav p-2 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link   fw-bold" href="/">
                            <span class="p-0 pb-2 border-3 border-wid ">
                                blogs</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  fw-bold" href="/blogs/mostseen">
                            <span class="p-0 pb-2 border-3 border-wid"> most viewed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fw-bold" href="/blogs/newBlogers">
                            <span class="p-0 pb-2 border-3 border-wid border-bottom"> new blogers </span>
                        </a>
                    </li>
                </ul>

                <form class="d-flex justify-content-center align-items-center me-auto p-2 d-none d-md-flex"
                role="search" method="POST"  action="/search">
                <i role="button" id="search-btn"
                    class="fa fa-search text-secondary mx-1 fw-bold d-sm-none d-md-block pe-auto"></i>
                <input class="form-control pl-2 pr-2 pb-2  border-secondary focus d-none " id="search-input"
                    type="search" name="search" placeholder=" " aria-label="Search">
            </form>
                <a href="/blogs/create" class="btn btn-primary text-white mb-3 m-sm-0 px-4 d-none d-md-block fw-bold ">
                    new blog
                </a> <a href="/" class="btn bg-white  shadow-sm text-black px-4 mx-3   fw-blod  d-none d-md-block ">

                    explore
                </a>
            </div>
            <% if(currentUser){ %>
                <div id="profile-links-btn" class="position-relative d-none d-lg-block  d-sm-none d-md-block"><a
                        href="#" id="dropdown-menu-links" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        class="outline-none dropdown-toggle dropdown-toggle-split text-decoration-none"><img width="50"
                            src="<%= currentUser.image %> " alt="sham sham" class="rounded-circle outline-none"></a>
                    <div id="profile-links" class="dropdown-menu position-absolute m-1 end-0 "><a
                            href="/username=<%= currentUser.username %> "
                            class="dropdown-item px-3 p-0 py-1 fw-bold ">My Blogs</a> <a href="/likes"
                            class="dropdown-item px-3 p-0 py-1 fw-bold ">Favorites</a> <a href="/settings"
                            class="dropdown-item px-3 p-0 py-1 fw-bold ">Settings</a>
                        <a href="/statistics" class="dropdown-item px-3 p-0 py-1 fw-bold ">Statistics</a>
                        <a href="/logout" class="dropdown-item px-3 p-0 py-1 fw-bold">
                            Logout
                        </a>
                        <div class="border-bottom flex-1 my-2 "></div> <a target="" href=""
                            class="nav-link fw-bold px-3 p-0 py-1 text-secondary">
                            About Oktub
                        </a> <a target="" href="" class="nav-link fw-bold px-3 p-0 py-1 text-secondary">
                            Writing Conditions
                        </a> <a target="" href="" class="nav-link fw-bold px-3 p-0 py-1 text-secondary">
                            Privacy Policy
                        </a>
                    </div>
                </div>
                <script type="text/javascript" src="../../public/js/nav.js"></script>
                <% } %>

        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto my-5">

                <div data-next-page="/" class="infinite-container">

                    <% if (users.length> 0) { %>
                        <% users.forEach(user1=> { %>

                            <% if( currentUser && user1.username==currentUser.username) {} else { %>
                                <div class="mx-auto media media-hover p-3 p-sm-4 rounded-lg font-droid">
                                    <div class="media-body">
                                        <div class="d-sm-flex d-block align-items-center"><a
                                                href="/username=<%= user1.username %>"
                                                class="d-flex align-items-center w-100 w-sm-75 text-hover-black text-black text-decoration-none"><img
                                                    width="50" height="50" src="<%= user1.image %> " alt="FG Production"
                                                    class="rounded-circle">
                                                <div class="ms-3">
                                                    <p class="mb-0 fw-bold">
                                                        <%= user1.username %>
                                                    </p>
                                                    <p class="mb-0 bio"> </p>
                                                </div>
                                            </a>
                                            <div class="ms-6 mt-2 mt-sm-0 me-sm-auto">
                                                <form id="followForm" action="/blogs/<%= user1.username %>/follow" method="post">
                                                    <button type="submit"
                                                        class="btn f px-4 font-14px px-4  me-sm-auto mt-4 my-sm-2 btn-primary text-white ">
                                                        <span class="fw-bold d-flex align-items-center">
                                                            <i aria-hidden="true" class="fa fa-plus mx-1"></i>

                                                            <% if(currentUser &&
                                                                currentUser.following.includes(user1._id)) { %>
                                                                unfollow
                                                                <% }else { %>
                                                                    follow
                                                                    <% } %>
                                                        </span></button>
                                                </form>





                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% }) %>
                                        <% } else { %>
                                            <p>There are no blogs to display...</p>
                                            <% } %>


                </div>




            </div>
        </div>
    </div>


 

