<% layout('/layouts/boilerplate') %> 


    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div>
                    <div class="my-5 d-flex flex-column align-items-center">
                        
                        
                        <img width="75"
                            src="https://www.gravatar.com/avatar/57c845443e2a6ddef0d04d1dbfc667ec?s=80&amp;d=mp&amp;r=g"
                            alt="sham sham" class="rounded-circle">
                        <h5 class="mt-2 mb-3 fw-bold">
                            <%= user.username %> 
                            <a href="https://twitter.com/nabtob" target="_blank"><i aria-hidden="true"
                                    class="fa fa-twitter mr-2 text-primary"></i></a>
                        </h5>
                        <p class="mb-0 fw-bold text-secondary max-w-450px text-center">
                            
                        </p>
                        <div class="mx-auto mt-3 d-flex align-items-center fs-5">
                            <div class=" mx-4 mt-sm-0 me-sm-auto">
                                <form action="blogs/<%= user.username %>/follow" method="post">
                                    <button type="submit" class="btn f px-4 font-14px px-4  me-sm-auto mt-4 my-sm-2 btn-primary text-white ">
                                      <span class="fw-bold d-flex align-items-center">
                                        <i aria-hidden="true" class="fa fa-plus mx-1"></i>
                                        تابع 
                                      </span></button>
                                  </form>
                            </div>
                            <a href="#" data-toggle="modal"
                                data-target=".followers-modal-lg"
                                class="fw-bold text-black text-decoration-none">
                                <%= user.followers.length %>  متابِعون
                            </a> <span class="mx-2">
                                |
                            </span> <a href="#" data-toggle="modal" data-target=".followings-modal-lg"
                                class="fw-bold text-black text-decoration-none">
                                <%= user.following.length %> متابَعون
                            </a>
                        </div>
                            
                    </div>
                    <div class="my-5">
                        <div class="d-flex align-items-center"><span class="fw-bold text-secondary h5">
                                المسودات
                            </span>
                            <div class="mx-3 border-bottom flex-1 w-75"></div>
                        </div>
                        <div
                            class="d-flex flex-column text-center mx-auto my-3 bg-white p-5 rounded-lg font-droid h5">
                            <p>
                                لا توجد تدوينات في المسودات
                            </p>
                            <p>
                                يمكن أيضًا تصفح
                                <a href="https://oktob.io/i/explore" class="text-decoration-none">
                                    التدوينات الجديدة
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="my-5">
                        <div class="d-flex align-items-center">
                            <p class="fw-bold text-secondary h5">
                                تدوينات منشورة
                            </p>
                            <div class="mx-3 border-bottom flex-1 w-75"></div>
                        </div>
                        
                    </div>
                </div>
                
                <% if (blogs.length> 0) { %>
                    <% blogs.forEach(blog=> { %>
                       <div class=" mx-auto media media-hover mb-4 mb-sm-0 p-3 p-sm-5 rounded-lg font-droid align-items-center">
                            <a class="text-decoration-none text-black" href="/blogs/<%= blog._id %>">
                                <h3 class="h3 h-sm-5 mt-0 mb-4 fw-bold text-break"><%= blog.title %>  </h3>
                           
                                <p class="d-none d-sm-block text-break fw-normal fs-4">
                                    <%= blog.body.slice(0, 200) %>...
                                </p> 
                            </a>

                                <a href="<%= blog.username  %> "
                                        class="text-decoration-none text-black text-hover-black">
                                        <div class="d-flex align-items-center">
                                            <img width="45"
                                                src="https://oktob.io/storage/4719/conversions/mpA-MXQc-cropped.jpg"
                                                alt="Nouf Khalid" class="rounded-circle">
                                            <div class="mx-3">
                                                <p class="mb-0 fw-bold"> <%= blog.username %> </p>
                                                <p class="mb-0 text-secondary fw-bold">
                                                    <time><%= moment(blog.createdAt).fromNow(); %></time>
                                                    </p>
                                            </div>
                                        </div>
                                    </a></div>  
                                
 
                                             
        
                         <% }) %>
                         <% } else { %>
                            <div
                            class="d-flex flex-column text-center mx-auto my-3 bg-white p-5 rounded-lg font-droid h5">
                            <p>
                                لا توجد تدوينات منشورة لديك
                            </p>
                            <div id="load-more"></div>
                            <p>
                                يمكن أيضًا تصفح
                                <a href="https://oktob.io/i/explore"  class="text-decoration-none">
                                    التدوينات الجديدة
                                </a>
                            </p>
                        </div>
                             <% } %>
            </div>
        </div>
    </div>
